<div class="container" style="padding-top: 30px">
	
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Search" [(ngModel)]="Key" (keyup)="goEnter($event)">
  <div class="input-group-append">
    <button class="btn btn-success" type="submit" (click)="onSearch()">Tìm Kiếm</button>
  </div>
</div>

<h3 style="margin-bottom: 50px;margin-top: 30px; color: orange">Kết Quả Tìm Kiếm</h3>

<div class="card-group">
        <ng-container *ngFor="let product of resultSearch">
          <div class="card ">
              <div class="p-img">
                 <a routerLink="/product-detail/{{product.id}}"><img src={{product.linkImg}}></a>
              </div>
              <div class="p-emtry">
                  <a routerLink="/product-detail/{{product.id}}">{{product.name}}</a>
                  <span class="p-summary">
                    {{product.summary}}
                  </span>
                  <span class="p-price">
                    {{product.price | VNDONG}}
                  </span>
              </div>
          </div>
        <div style="clear: both;"></div>
      </ng-container>
      </div>


</div>
