.banner{
	margin-bottom: 40px;
	padding-top: 70px;
	padding-bottom: 70px;

}
.container{
	min-width: 85%
}
.container h1{
	color: #FE980F;
	margin-top: 30px;
	margin-bottom: 20px;
}
.container h2{
	color:#000080;
	margin-bottom: 20px;
	margin-top: 40px;
}
.container h2 img{
	display: inline-block;
	float: left;
}
p,li{
	font-size: 20px;
}
