
.contact-container{
	max-width: 90%;
	margin: auto;

}

.contact-container h2,h4{
	color: #FE980F;
	display: inline-block;
	background-color: white;
	padding: 0 10px 0;
}
.tieu-de{
	text-align: center;
	margin : 50px 0 25px;
	position: relative;

}
.gach-ngang{
	content: " ";
    position: absolute;
    border: 1px solid #f5f5f5;
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 4px;
    z-index: -2;
}
.contact-from{
	text-align: center;
}
.list-icon ul{
	list-style-type: none;
	 padding-left: 0;
}
.list-icon img{
	height: 40px;

}
.list-icon ul li{
	display: inline-block;
	margin-top:15px;
	margin-right: 10px;

}