.dropdown-menu{
  background: #343a40;
}
.dropdown-item{
  color: rgba(255,255,255,.5);;
}
.dropdown-menu a:hover{
  color: black;
}
#logo :hover{
color: orange;
 transition-property: color;
 transition-duration: 1.5s;
}
#logo{
color: black;
text-decoration: none;
}
#gocart{
	cursor: pointer;
}
