<app-slide></app-slide>
<!--product-->
<div class="_container_">
<!--ram-->
<div class="product-home">
  <div class="pro-container">
    <div class="pro-head">
      <div class="title" style="background-image: url('assets/img/8.jpg')">
        <h3><a routerLink='/ram'>Ram</a></h3>
      </div>
    </div>


      <div class="card-group">
        <ng-container *ngFor="let product of ramProducts">
          <div class="card ">
              <div class="p-img">
                 <a routerLink="/product-detail/{{product.id}}"><img src={{product.linkImg}}></a>
              </div>
              <div class="p-emtry">
                  <a routerLink="/product-detail/{{product.id}}">{{product.name}}</a>
                  <span class="p-summary">
                    {{product.summary}}
                  </span>
                  <span class="p-price">
                    {{product.price | VNDONG}}
                  </span>
              </div>
          </div>
        <div style="clear: both;"></div>
      </ng-container>
</div>
</div>
<!--Ram-->

<!--SSD-->
<div class="product-home">
  <div class="pro-container">
    <div class="pro-head">
      <div class="title" style="background-image: url('assets/img/8.jpg')">
        <h3><a routerLink='/ssd'>SSD</a></h3>
      </div>
    </div>


    <div class="card-group">
        <ng-container *ngFor="let product of ssdProducts">
          <div class="card ">
              <div class="p-img">
                 <a routerLink="/product-detail/{{product.id}}"><img src={{product.linkImg}}></a>
              </div>
              <div class="p-emtry">
                  <a routerLink="/product-detail/{{product.id}}">{{product.name}}</a>
                  <span class="p-summary">
                    {{product.summary}}
                  </span>
                  <span class="p-price">
                    {{product.price | VNDONG}}
                  </span>
              </div>
          </div>
        <div style="clear: both;"></div>
      </ng-container>
</div>
</div>
<!--SSD-->

<!--CPU-->
<div class="product-home">
  <div class="pro-container">
    <div class="pro-head">
      <div class="title" style="background-image: url('assets/img/8.jpg')">
        <h3><a routerLink='/cpu'>CPU</a></h3>
      </div>
    </div>


   <div class="card-group">
        <ng-container *ngFor="let product of cpuProducts">
          <div class="card ">
              <div class="p-img">
                 <a routerLink="/product-detail/{{product.id}}"><img src={{product.linkImg}}></a>
              </div>
              <div class="p-emtry">
                  <a routerLink="/product-detail/{{product.id}}">{{product.name}}</a>
                  <span class="p-summary">
                    {{product.summary}}
                  </span>
                  <span class="p-price">
                    {{product.price | VNDONG}}
                  </span>
              </div>
          </div>
        <div style="clear: both;"></div>
      </ng-container>
</div>
</div>