<div class="container">
    <form action="" method="PUT" role="form" #formAddProduct="ngForm">
      <legend>Edit product</legend>
      <br>
      <div class="form-group">
        <label for="">Type Product</label><br>

        <select class="c-select" class="form-control" [(ngModel)]="product.type" name="type"  >
          <option selected="selected" value="SSD">SSD</option>
          <option value="RAM">RAM</option>
          <option value="CPU">CPU</option>
       </select>

      </div>
      <div class="form-group">
        <label for="">Name</label>
        <input type="text" class="form-control" placeholder="enter Name"
        name="name"
        ngModel
        [(ngModel)]="product.name"
        required
        >
        
      </div>

      <div class="form-group">
        <label for="">Link Image</label>
        <input type="text" class="form-control" placeholder="enter Link Image"
        name="linkimg"
        ngModel
        [(ngModel)]="product.linkImg"
        required
        >
      </div>


      <div class="form-group">
        <label for="">Summary</label>
        <input type="text" class="form-control" placeholder="enter Summary"
        name="summary"
        ngModel
        [(ngModel)]="product.summary"
        required
        >
      </div>

      <div class="form-group">
        <label for="">Price</label>
        <input type="number" class="form-control" placeholder="enter Price"
        name="price"
        ngModel
        [(ngModel)]="product.price"
       required
        >
      </div>

      <br>
      <button type="Submit" class="btn btn-primary" [disabled]="formAddProduct.invalid" (click)="onEditProduct()">Update</button>
    </form>
  </div>

