<div class="container">
	   <div class="col-sm-12">
	   	<div class="row">
		<div class="col-12">
			<h3 >{{product.name}}</h3>
		</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-6">
					<div class="_img">
						  <img  src="{{product.linkImg}}">
					</div>
					<div style="clear: both;"></div>
			</div>



			<div class="summary col-sm-6">
				<h3 style="color: red; margin-bottom: 30px;">{{product.price| VNDONG}}đ</h3>
			<p *ngFor="let summary of (product.summary|SUMMARY)">{{summary|titlecase}}</p>
			<br>
			<span><button type="button" class="btn btn-warning" style="width: 60%;padding: 15px; border-radius: 10px; " (click)=(addToCart(product.id))>
				<span><img style="width: 25px;margin-right: 10px " src="assets/img/giohang.jpg"></span><strong>Thêm Vào Giỏ Hàng</strong>
			</button></span>
            
            <ng-container *ngIf="complete">
				<span class="thongbao" style="padding-left: 10px">⭐Thêm thành công</span>
		    </ng-container>
		    </div>

	</div>
</div>
</div>
